@font-face {
    font-family: 'Spikle';
    src: url('./font/Spikle.woff2') format('woff2');
    
    
}
@font-face {
    font-family:'Heartbreak';
    src: url('.//font/Heartbreak.woff2') format('woff2');
    
}