@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* 전체*/
*{
    font-family: "Nunito Sans", sans-serif;
    
    
    background-color: rgba(13, 13, 13, 1);
}
.a{
  color:#ffffff;
  
}

/* 상단바 */


.navbar-brand{

    font-size:large;
    font-weight: 700;
}

/* .nav-bg-color{
    background-color:rgba(192, 238, 250, 1
    )
    !important;
} */

.nav-bg-color {
    /* background-color: #f8f9fa; 배경색 */
    padding: 30px 30px; /* 위아래 여백 */
  }
  header .container {
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 세로 가운데 정렬 */
    justify-content: space-between; /* 메뉴 항목 간격 벌리기 */
  }
  .navbar-brand {
    font-size: 1.8rem; /* 브랜드 이름 폰트 크기 */
    color: #ffffff; /* 브랜드 이름 색상 */
    text-decoration: none; /* 밑줄 제거 */
  }
  .menu {
    display: flex; /* Flexbox 사용 */
    list-style-type: none; /* 목록 스타일 제거 */
    padding: 0; /* 패딩 제거 */
    margin: 0; /* 마진 제거 */
  }
  .menu-item {
    margin-right: 20px; /* 메뉴 항목 사이 간격 */
  }
  .menu-item:last-child {
    margin-right: 0; /* 마지막 메뉴 항목의 간격 제거 */
  }
  .menu-item a {
    padding:16px;
    color: #ececec; /* 링크 색상 */
    text-decoration: none; /* 밑줄 제거 */
    font-size: 1.2rem; /* 링크 폰트 크기 */
    
    transition: color 0.3s ease; /* 색상 변경 트랜지션 */
  }
  .menu-item a:hover {
    color: #13fac8; 
  }

  /* home */
  #home .container{
    padding: 15% 15%;

  }
  .intro1, .intro2{
    opacity:0;
    transition: transform 1s ease, opacity 1s ease;
    text-align:center;
    display:flex;
    font-family: 'Spikle';
    font-size: 7.5rem;
    color:#fff;
  }
 

  .intro1 {
    transform: translateX(-150%);
  }

  .intro2{
    position:relative;
    font-style: italic;
    transform: translateX(150%);
     justify-content: flex-end;
    transition-delay:0.5s;
  }
  .intro::after{
    content:'';
     position: absolute;
    left: 0;
    bottom: -5px; /* 텍스트 아래에 위치 */
    width: 0;
    height: 20px; /* 줄의 높이 */
    background: rgba(229, 47, 253,0.5); /* 줄의 색상 */
    transition: width 1s ease;

  }
  .intro.animate::after{
    width:100%;
  }
  
  .intro1.animate, .intro2.animate{
    opacity:1;
    transform: translateX(0);
  }