/* 전체*/
*{
    font-family: 'SUITE-Regular', sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
    list-style:none;
    background-color: rgb(37, 37, 37);
    
   
}
.a{
  color:#ffffff;
  
}


 html,
    body {
      position: relative;
      height: 100%;
      font-size: 16px;
    }

    body {
      background: #eee;
      
      color: #ffffff;
      margin: 0 auto;
      padding: 0;
    }
    /* 마우스 커서 */
     body{
            cursor: url('../images/highlight-cursor-L.png') 3 3, auto; /* 커서 이미지 경로와 백업 커서 */
        }
    /* 반응형 */

    @media (max-width: 1200px) {
        html {
            font-size: 15px; /* 더 작은 화면에서는 15px */
        }
    }

    @media (max-width: 992px) {
        html {
            font-size: 14px; /* 더 작은 화면에서는 14px */
        }
    }

    @media (max-width: 768px) {
        html {
            font-size: 13px; /* 더 작은 화면에서는 13px */
        }
    }

    @media (max-width: 576px) {
        html {
            font-size: 12px; /* 더 작은 화면에서는 12px */
        }
    }
    
    /* 상단바 */
.navbar-brand{

    font-size:large;
    font-weight: 700;
}

.nav-bg-color{
   
    position:sticky;
    padding: 30px 80px; /* 위아래 여백 */
}

header{
  position: fixed;
  top: 0;left: 0;width: 100%;
  z-index:1000;
}

  header .container {
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 세로 가운데 정렬 */
    justify-content: space-between; /* 메뉴 항목 간격 벌리기 */
    
  }
  .navbar-brand {
    font-size: 2.2rem; /* 브랜드 이름 폰트 크기 */
    color: rgba(255, 255, 255,1); /* 브랜드 이름 색상 */
    text-decoration: none; /* 밑줄 제거 */
    font-family: 'EF_jejudoldam';
  }
  .menu {
    display: flex; /* Flexbox 사용 */
    list-style-type: none; /* 목록 스타일 제거 */
    padding: 0; /* 패딩 제거 */
    margin: 0; /* 마진 제거 */
  }
  .menu-item {
    margin-right: 20px; /* 메뉴 항목 사이 간격 */
  }
  .menu-item:last-child {
    margin-right: 0; /* 마지막 메뉴 항목의 간격 제거 */
  }
  .menu-item a {
    padding:16px;
    color: rgb(255, 255, 255); /* 링크 색상 */
    text-decoration: none; /* 밑줄 제거 */
    font-family: 'EF_jejudoldam';
    font-size: 1.8rem; /* 링크 폰트 크기 */
    
    transition: color 0.3s ease; /* 색상 변경 트랜지션 */
  }
  .menu-item a:hover {
    color: #c9ff64; 
  }
