*{list-style:none;}
.list{
    display: flex;
    top:50%;
    padding:0;
    margin:0;
  justify-content: center; /* 목록 중앙 정렬 */
  align-items: center;
  flex-wrap: wrap;
  height: 80vh;
}

#list-port{
    display: flex;
    
    width: 400px; /* 고정 너비 */
  height: 220px; /* 고정 높이 */
    padding:0;
    margin:10px;
    border-radius: 8px;
 overflow: hidden;
    background: rgb(255, 255, 255);
 flex-direction: column;

}
/* #list-port:hover{
    border: solid red 5px;
  background-color: yellow;
  color: orange;
} */

.list .box{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    color: inherit;
}


.thumbnail {
  width: 100%; /* 너비 맞춤 */
  height: 100%; /* 높이 맞춤 */
  overflow: hidden; /* 넘치는 콘텐츠 숨기기 */
  position: relative; /* 자식 요소의 절대 위치를 설정하기 위해 필요 */
}




.thumbnail img {
  
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease; /* 이미지 확대 애니메이션 */
}

.thumbnail .overlay {
  content: ''; /* 가상 요소 생성 */
  position: absolute; /* 절대 위치 */
  top: 0; /* 상단에서 0 */
  left: 0; /* 좌측에서 0 */
  width: 100%; /* 너비 100% */
  height: 100%; /* 높이 100% */
  opacity: 0; /* 기본 투명도 */
  transition: opacity 0.3s ease; /* 애니메이션 */
  display: flex; /* 플렉스 컨테이너로 설정 */
  justify-content: center; /* 가운데 정렬 */
  align-items: center; /* 수직 정렬 */
  pointer-events: none; /* 가상 요소가 마우스 이벤트에 영향받지 않음 */
}
.thumbnail::after{
    content:'';
    position: absolute; /* 절대 위치 */
  top: 0; /* 상단에서 0 */
  left: 0; /* 좌측에서 0 */
  width: 100%; /* 너비 100% */
  height: 100%; /* 높이 100% */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  opacity: 0; /* 기본 투명도 */
  transition: opacity 0.3s ease; /* 애니메이션 */
  pointer-events: none; /* 가상 요소가 마우스 이벤트에 영향받지 않음 */
}

.thumbnail:hover::after{
    opacity:1;
}

.overlay-text {
   
  color: white; /* 텍스트 색상 */
  font-size: 1.2em; /* 텍스트 크기 */
  text-align: center; /* 텍스트 중앙 정렬 */
  padding: 10px; /* 텍스트 주변 간격 */
  margin: 0; /* 여백 제거 */
  opacity: 0; /* 기본 투명도 */
  transition: opacity 0.3s ease; /* 애니메이션 */
}

.thumbnail:hover .overlay {
    z-index:1;
  opacity: 1; /* 호버 시 텍스트 불투명도 */
}

